.menu
  background-color orange-light
  position fixed
  top 0
  left 0
  height 100vh
  padding 30px
  margin-left -240px
  width 240px
  text-transform uppercase
  transition .3s
  z-index 2
  &--show
    margin-left 0
  &__link
    color rgba(255,255,255,.7)
    display block
    margin-bottom 10px
    &:hover
      color rgba(255,255,255,1)
      
.overlay
  cursor pointer
  width 100vw
  height 100vh
  background-color rgba(0,0,0,0)
  transition .3s
  position fixed
  top 0
  right 0
  z-index -1
  &--show
    background-color rgba(0,0,0,.6)
    z-index 2