* {
  box-sizing border-box
}

body
  font-family font-regular
    
.center-wrapper
  center(max-width = 1140px)
  min-width 560px
  @media(max-width: 1140px)
    padding 0 20px
   
h1,h2,h3,h4,h5,h6 
  font-family font-semibold
    
h2
  font-size 50px
  font-family font-regular
  margin-bottom 10px
  opacity 0.8
  text-align center
  span 
    color orange-dark
    font-family font-semibold
a 
  text-decoration none

li 
  list-style none
  
i
  font-family 'FontAwesome'

