.about
  cf()
  background-color whitesmoke
  padding-top 80px
  .nav
    cf()
    margin-bottom 140px
    .logo
      column(ratios = 2/12)
      a
        border 3.5px solid #170f1c
        border-radius 2px
        color black
        font-family font-semibold
        font-size 38px
        height 55px
        line-height 55px
        padding 0 18px
        opacity 0.6
        span
          color orange-light
    .menu-toggler
      column(ratios = 1/12)
      float right
      display block
      opacity 0.6
      width 34px
      &--fixed
        position fixed
        top 100px
        right 5%
      span
        background-color #170f1c
        border-radius 2px
        display inline-block
        height 4px
        width 100%
        position relative
        &:before, &:after {
          background-color #170f1c
          border-radius 2px
          content ''
          display inline-block
          height 4px
          width 100%
          position absolute
        }
        &:before {
          top -8px
        }
        &:after {
          top 8px
        }
        
  &__title
    color rgb(98, 98, 98, 0.94)
    margin-bottom 0
  &__desc
    line-height 25px
    max-width 713px
    margin 0 auto
    margin-bottom 130px
    opacity 0.65
    text-align center
    
  .form-wrapper
    background-color white
    border-radius 2px
    box-shadow 0 0 57px rgba(20, 20, 21, 0.2)
    margin-bottom -3px
    padding 25px 40px
    width 372px
    position relative
    z-index 1
    .form-title
      color #211a12
      font-size 20px
      font-family font-regular
      margin-bottom 50px
      opacity 0.9
      span 
        color orange-light
        font-family font-semibold
    .form
      input, textarea
        border none
        border-bottom 1px solid rgba(0,0,0,.22)
        font-size 15px
        padding 8px 0
        margin-bottom 30px
        width 100%
      ::-webkit-input-placeholder
        color black
        opacity 0.6
      textarea
        height 80px
        margin-bottom 20px
      &__btn
        background-color orange-light
        border 1px solid rgba(1, 2, 2, 0.07)
        border-radius 27px
        box-shadow 1.9px 10.8px 20px rgba(20, 20, 21, 0.08)
        color rgba(255,255,255,.88)
        display block
        height 57px
        line-height 57px
        margin 0 auto
        width 240px
        position relative
        &:after
          content '\2192'
          display block
          font-size 18px
          height 10px
          width 15px
          position absolute
          top 0
          right 35px