section.services#services
  .center-wrapper
    h2.services__title <span>Services</span> We Provide
    p.services__desc Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.
    
    .tabs-container
      ul.tabs-nav
        li.tabs-nav__item
          a(href="").tabs-nav__link.tabs-nav__link--active
        li.tabs-nav__item
          a(href="").tabs-nav__link
        li.tabs-nav__item
          a(href="").tabs-nav__link
        li.tabs-nav__item
          a(href="").tabs-nav__link
      ul.tabs
        li.tabs__item.tabs__item--active
          .tabs__content
            h4.tabs__title Modern App Design
            hr
            p.tabs__text.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus earum totam ad sint error porro. Consectetur, sunt, aperiam. Magni rem optio distinctio illum consequuntur delectus nulla illo aperiam itaque cumque.<br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia vitae eveniet quam rem unde facilis. 
              <br> <br> vitae eveniet quam rem unde facilis.
            a(href="").tabs__btn <span class="plus"></span> Know More
          .tabs__image
            img(src="images/tabs/1.png", alt="")
        li.tabs__item
          .tabs__content
            h4.tabs__title Modern App Design 1
            hr
            p.tabs__text.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus earum totam ad sint error porro. Consectetur, sunt, aperiam. Magni rem optio distinctio illum consequuntur delectus nulla illo aperiam itaque cumque.<br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia vitae eveniet quam rem unde facilis. 
              <br> <br> vitae eveniet quam rem unde facilis.
            a(href="").tabs__btn <span class="plus"></span> Know More
          .tabs__image
            img(src="images/tabs/2.png", alt="")
        li.tabs__item
          .tabs__content
            h4.tabs__title Modern App Design 2
            hr
            p.tabs__text.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus earum totam ad sint error porro. Consectetur, sunt, aperiam. Magni rem optio distinctio illum consequuntur delectus nulla illo aperiam itaque cumque.<br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia vitae eveniet quam rem unde facilis. 
              <br> <br> vitae eveniet quam rem unde facilis.
            a(href="").tabs__btn <span class="plus"></span> Know More
          .tabs__image
            img(src="images/tabs/3.png", alt="")
        li.tabs__item
          .tabs__content
            h4.tabs__title Modern App Design 3
            hr
            p.tabs__text.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus earum totam ad sint error porro. Consectetur, sunt, aperiam. Magni rem optio distinctio illum consequuntur delectus nulla illo aperiam itaque cumque.<br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia vitae eveniet quam rem unde facilis. 
              <br> <br> vitae eveniet quam rem unde facilis.
            a(href="").tabs__btn <span class="plus"></span> Know More
          .tabs__image
            img(src="images/tabs/4.png", alt="")