.overlay
section.menu
  a(href="#about").menu__link About
  a(href="#work").menu__link Working Process
  a(href="#features").menu__link Features
  a(href="#services").menu__link Services
  a(href="#team").menu__link Team
  a(href="#clients").menu__link Clients
  a(href="#partners").menu__link Partners
  a(href="#contacts").menu__link Contacts