section.team#team
  .center-wrapper
    h2.team__title <span>Team</span> Chinen & Skills
    p.team__desc.
      Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.
    ul.team-list
      li.team-list__item
        .item-overlay
        .profile
          .profile__skills
            p.profile__skill.
              UI/UX Design
              <span></span>
            p.profile__skill.
              English
              <span></span>
            p.profile__skill.
              Communication
              <span></span>
          .profile__info
            h5.name Bedi Manos
            p.position UI/UX Designer
            .social
              a(href=""): i.fa.fa-twitter
              a(href=""): i.fa.fa-facebook
              a(href=""): i.fa.fa-twitter
        .preview-info
          h5.name Bedi Manos
          p.position UI/UX Designer
      li.team-list__item
        .item-overlay
        .profile
          .profile__skills
            p.profile__skill.
              UI/UX Design
              <span></span>
            p.profile__skill.
              English
              <span></span>
            p.profile__skill.
              Communication
              <span></span>
          .profile__info
            h5.name Al Rayhan
            p.position UI/UX Designer
            .social
              a(href=""): i.fa.fa-twitter
              a(href=""): i.fa.fa-facebook
              a(href=""): i.fa.fa-twitter
        .preview-info
          h5.name Al Rayhan
          p.position UI/UX Designer
      li.team-list__item
        .item-overlay
        .profile
          .profile__skills
            p.profile__skill.
              UI/UX Design
              <span></span>
            p.profile__skill.
              English
              <span></span>
            p.profile__skill.
              Communication
              <span></span>
          .profile__info
            h5.name Ali Sayed
            p.position UI/UX Designer
            .social
              a(href=""): i.fa.fa-twitter
              a(href=""): i.fa.fa-facebook
              a(href=""): i.fa.fa-twitter
        .preview-info
          h5.name Ali Sayed
          p.position UI/UX Designer