section.about#about
  .center-wrapper
    .nav
      .logo
        a(href="") <span>S</span>mart
      a(href="").menu-toggler <span></span>
    h2.about__title
      <span>Smart</span> Agency Landing Page
    p.about__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, fuga provident. Libero magni quibusdam labore ad iste saepe hic, maxime qui ipsum tempore beatae, volu tomi ptates doloremque rerum aspernatur dolorum at!
    .form-wrapper
      h4.form-title <span>Send</span> A Message
      form(action="").form
        input(type="text" placeholder="Your Name").form__name
        br
        input(type="Email" placeholder="Your Email").form__Email 
        br
        textarea(placeholder="Your Message")
        br
        button(type="submit").form__btn Send Message 