@import 'global/jeet-grid'
@import 'global/reset.styl'
@import 'global/fonts.styl'
@import 'vendor/font-awesome/index.styl'
@import 'global/variables.styl'
@import 'global/base.styl'
@import '../css/slick.css'

@import 'blocks/menu/'
@import 'blocks/about/'
@import 'blocks/working_process/'
@import 'blocks/features/'
@import 'blocks/services/'
@import 'blocks/team/'
@import 'blocks/clients/'
@import 'blocks/partners/'
@import 'blocks/contacts/'





