<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
  title Smart
  link(rel="stylesheet", href="css/main.css")
body
  .container
    include ./menu/menu.jade
    include ./about/about.jade
    include ./working_process/working_process.jade
    include ./features/features.jade
    include ./services/services.jade
    include ./team/team.jade
    include ./clients/clients.jade
    include ./partners/partners.jade
    include ./contacts/contacts.jade
            
   
  script(src="js/libs.min.js")
  script(src="js/main.js")  
   
   
   
