section.contacts#contacts
  .center-wrapper
    a(href="").contacts__btn Contact Us
    .contacts__social
      a(href=""): i.fa.fa-facebook
      a(href=""): i.fa.fa-twitter
      a(href=""): i.fa.fa-behance
      a(href=""): i.fa.fa-pinterest
    .contacts__copyright
      &copy; 2015 - 2016 Deviserweb Ltd.
      