.services
  background-color white
  padding 140px 0 170px
  &__desc
    color rgba(0,0,0,.5)
    margin-bottom 140px
    text-align center
  
  .tabs-nav
    column(ratios: 2/12)
    &__item
      &:nth-child(1)
        a 
          &:after
            background-position 0 -82px
      &:nth-child(2)
        a 
          &:after  
            background-position 0 0
            height 87px
            width 84px
            top 16%
            left 20%
      &:nth-child(3)
        a 
          &:after  
            background-position -84px 0
            height 62px
            width 88px
            top 22%
            left 16%
      &:nth-child(4)
        a
          &:after
            background-position 0 -82px  
          
    &__link
      background-color #fbfbfb
      border-radius 2px
      display block
      margin-bottom 7px
      height 92px
      width 104px
      position relative
      &--active
        background-color white
        box-shadow 0 0 36px rgba(20, 20, 21, 0.2)
      &:after
        background url('../images/icons/services-icons-sprite.png')
        content ''
        display block
        height 65px
        width 65px
        position absolute
        top 22%
        left 30%

  .tabs
    column(ratios: 10/12)
    position relative
    &__item
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      opacity 0
      z-index 0
      transition .4s
      &--active
        opacity 1
        z-index 1
    &__content
      column(ratios: 6/10)
      padding 0 2% 0 3% 
      @media(max-width: 580px)
        padding-left 25px
      hr 
        background-color orange-light
        border none
        margin 17px 0
        height 3px
        width 57px
    &__title
      color rgba(0,0,0,.75)
      font-family font-regular
      font-size 30px
    &__text
      color rgba(0,0,0,.7)
      line-height 25px
      margin-bottom 40px
      @media(max-width: 670px)
        font-size 13px
    &__btn
      background-color white
      border-radius 27px
      border 1px solid rgba(1, 2, 2, 0.07)
      box-shadow 1.9px 10.8px 20px rgba(20, 20, 21, 0.07)
      color rgba(0,0,0,0.8)
      display block
      height 55px
      line-height 55px
      text-align center
      width 240px
      padding-left 32px
      position relative
      transition .2s
      .plus
        display block
        height 1px
        width 17px
        background-color rgba(0,0,0,0.5)
        position absolute
        bottom 49%
        left 23%
        &:before
          content ''
          display block
          height 16px
          width 1px
          background-color rgba(0,0,0,0.5)
          position absolute
          bottom -7px
          left 8px
    &__image 
      column(ratios: 4/10)
      padding-left 2%
      img 
        margin-top 10px
