section.clients#clients
  .center-wrapper
    h2.clients__title <span>Clients</span> Said
    p.clients__desc.
      Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.
    
    .carousel-wrapper
      a(href="").prev: i.fa.fa-chevron-left
      a(href="").next: i.fa.fa-chevron-right
      ul.carousel
        li.carousel__item
          p.quote.
            “This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
          .rating
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
          p.author Kita Say, <span>HK Director</span>
        li.carousel__item
          p.quote.
            “This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
          .rating
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
          p.author Al Rayhan, <span>UX Director</span>
        li.carousel__item
          p.quote.
            “This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
          .rating
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
          p.author Kita Say, <span>HK Director</span>
        li.carousel__item
          p.quote.
            “This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
          .rating
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
          p.author Al Rayhan, <span>UX Director</span>
    
    