section.partners#partners
  .center-wrapper
    .left-col
      img(src="images/partner4.png", alt="")
      img(src="images/partner1.png", alt="")
      img(src="images/partner2.png", alt="")
    .right-col
      img(src="images/partner4.png", alt="")
      img(src="images/partner1.png", alt="")
      img(src="images/partner2.png", alt="")