section.working-process#work
  .center-wrapper
    h2.working-process__title
      <span>Working</span> Process
    p.working-process__desc Lorem ipsum dolor sit amet consectet ur adipiscing elit  Vestibulum bibend um vestibulum.
    ul.process-list
      li.process-list__item
        i.fa.fa-magnet.fa-3x
        h6.item-title Koc Koi Tomi
        p.item-text Lorem ipsum is dummy lorem very dumy
        a(href="").item-btn <span class="plus"></span> Know More
      li.process-list__item
        i.fa.fa-bug.fa-3x
        h6.item-title Koimona Set
        p.item-text Lorem ipsum is dummy lorem very dumy
        a(href="").item-btn <span class="plus"></span> Know More
      li.process-list__item
        i.fa.fa-cogs.fa-3x
        h6.item-title Setting Koire
        p.item-text Lorem ipsum is dummy lorem very dumy
        a(href="").item-btn <span class="plus"></span> Know More
      li.process-list__item
        i.fa.fa-camera-retro.fa-3x
        h6.item-title Ko Image Lara
        p.item-text Lorem ipsum is dummy lorem very dumy
        a(href="").item-btn <span class="plus"></span> Know More